/*Body*/
body {
	background-color: lightgray;
	width: 800px;
	margin: auto;
}

/*Nav*/
nav {
	display: inline-block;
	width: 800px;
}


nav li {
	display: inline-block;
	margin-right: 190px;
}

nav a:hover {
	background-color: white;
}

#div_nav {
	background-color: #005CA3;
	border: solid 1px black;
	border-radius: 4px;
}

.nav_links {
	border: solid 1px white;
	border-radius: 2px;
	color: black;
	padding: 2px;
}

/*Section*/
h1 {
	text-align: center;
}
.informatica {
	background-color: #005CA3;
	border: solid 1px;
	border-radius: 4px;
	text-align: center;
}

.query {
	background-color: #888888;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #888888;
	border-radius: 4px;
}

.query_title {
	text-align: center;
}

#main_img {
	height: 275px;
	width: 350px;
	float: left;
}	

#p_block {
	float: right;
}

#celula {
	height: 115px;
	width: 260;
	float: left;
}

section {
	display: inline-block;
	width: 570px;
}

/*Aside*/
aside {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	background-color: #005CA3;
	padding: 20px;
	border: solid 1px;
	border-radius: 4px;
	margin-top: 19px;
	position: fixed;
}

aside li {
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px white;
	border-radius: 2px;
	padding: 2px;
	margin-left: -30px;
}

aside ul {
	list-style-type: none;
}

aside h1 {
	text-align: center;
}

.aside_links {
	color: white;
}

aside li:hover {
	background-color: white;
}

.aside_links:hover {
	color: #005CA3;
}

/*Footer*/

footer {
	display: inline-block;
	background-color: #005CA3;
	border: solid 1px black;
	border-radius: 4px;
	width: 800px;
	margin-top: 30px;
}

footer li {
	display: inline-block;
	margin-right: 100px;
}

footer a:hover {
	background-color: white;
}

.footer_links {
	border: solid 1px white;
	border-radius: 2px;
	color: black;
	padding: 2px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #005CA3;
    color: black;
    border: none;
    border: solid 1px white;
    border-radius: 4px;
}

.dropbtn:hover {
	background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: lightgray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}