#article1 {
	display: inline-block;
	width: 100px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 4px;
}

#article2 {
	display: inline-block;
	width: 150px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;

}

#article3 {
	display: inline-block;
	width: 170px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;
}

#article4 {
	display: inline-block;
	width: 170px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;
}

#article5 {
	display: inline-block;
	width: 100px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;
}

#article6 {
	display: inline-block;
	width: 110px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 4px;
}

body {
	width: 964px;
	margin: 30px;
	background-color: gray;
}

section {
	text-align: center;
	background-color: lightgray;
	border: solid 2px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#Menu {
	border-bottom: solid 4px;
	font-style: bold;
	font-size: 1.1em;
}

#description {
	font-size: 30px;
	font-style: bold;
}

h1 {
	text-align: center;
	background-color: lightgray;
	margin-bottom: 0px;
	border: solid 2px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}