/*Body*/
body {
    background: url('../images/yellow_background.png');
}

#main_wrapper {
    width: 1000px;
    margin: auto;
}

#img_english {
    margin-left: 280px;
    margin-top: 5px;
    height: 10%;
    position: relative;
    margin-bottom: 25px;
    height: 150px;
    width: 400px;
}

/*Navigation*/
nav a {
    display: inline-block;
    color: black;
    font-size: 1.4em;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    color: teal;
}

#blank:hover {
    color: black;
}

nav h1 {
    font-size: 2.5em;
    text-align: center;
}

nav h2 {
    font-size: 0.9em;
    margin-left: 150px;
    margin-top: -20px;
}

#navigation {
    border: solid 2px;
    width: 600px;
    margin-left: 190px;
    background-color: lightgray;
}

#logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/*Main Home*/
#welcome {
    margin-top: 70px;
    text-align: justify;
    font-size: 1.4em;
    color: darkblue;
    width: 800px;
    margin-left: 100px;
}

/*Main Instructions*/
main li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#instructions {
    text-align: justify;
    font-size: 1.2em;
    color: darkblue;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

#instructions h1 {
    margin-left: 20px;
}

/*Main Test*/
form {
    margin-left: 300px;
}

fieldset {
    border: 0px solid;
}

#clock {
    width: 180px;
    float: left;
    border: solid 2px;
    border-color: darkblue;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: darkblue;
    margin-top: 25px;
}

#timer {
    margin-bottom: 20px;
}

#button {
    margin:auto;
}

#buttonyes {
    margin-right: 15px;
}

#mark {
    width: 180px;
    float: left;
    border: solid 2px;
    border-color: darkblue;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: darkblue;
    margin-top: 25px;
}

#visualize {
    width: 180px;
    float: left;
    border: solid 2px;
    border-color: darkblue;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: darkblue;
    margin-top: 25px;
}

#identification {
    margin-left: 370px;
    margin-top: 50px;
    width: 173px;
}

#identification h2 {
    text-align: center;
}

#textname, #textlast, #address {
    margin-left: 13px;
}

#buttontest, #buttonclear {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#questions {
    margin-top: 50px;
}

#sprite {
    margin-left: 350px;
}