/*Nav*/
nav {
	height: 80px;
}

li {
	display: inline-block;
}

#nav {
	margin: auto;
}

#datetime {
	margin-top: 15;
	padding: 30px;
	text-align: center;
	margin-right: 170px;
}

/*Body*/
body {
	background: url('../images/yellow_background.png');
}

p {
	text-align: justify;
}

.html_news {
	border: 1px solid;
	padding: 15px;
	width: 720px;
	margin: 20px 0px 10px 0px;
	margin-left: -50px;
}

.title {
	font-size: 22px;
	text-align: center;
	padding: 5px;
}

.datetime_published {
	margin-left: 12px;
}

.image {
	padding: 10px;
	margin-bottom: 2px;
}

.read_more_button {
	border: 2px solid;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
	width: 100px;
}

.load_more_button {
	border: 2px solid;
	cursor: pointer;
	margin-left: 5px;
	width: 150px;
}

.read_more_button:hover, .load_more_button:hover {
	background-color: grey;
	color: white;
	border-color: black;
}

.read_more_button:focus, .load_more_button:focus {
	background-color: darkgrey;
	color: black;
	border-color: black;
}

#wrapper {
	width: 100%;
}

.news_title {
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.news_image {
	margin-left: 250px;
}

#margin-bottom {
	margin-bottom: 100px;
	margin-left: 250px;
	margin-top: 10px;
}

.news_div {
	margin-bottom: 10px;
	text-align: justify;
}

#image, #image2 {
	margin-top: 25px;
}

#image2 {
	margin-left: -20px;
}

.video_title {
	margin: auto;
	padding-bottom: 20px;
}

.news_video {
	margin-left: 350px;
}

.news_video2 {
	margin-left: 480px;
}

/*Aside*/
.aside {
	margin-top: 50px;
	position: fixed;
	margin-left: 750px;
}

h2 {
	width: 100%;
    text-align:center;
}

#iframe-body p {
	text-align: center;
}

#nav-ad {
	height: 50px;
}

#iframe-body, #nav-ad {
	border: solid 2px;
}

#iframe-ferrari {
	font-weight: bold;
	font-size: 16px;
}

#iframe-button {
	padding: 5px;
	margin: auto;
}

#iframe-price {
	font-weight: bold;
	font-size: 22px;
	color: red;
}

/*Footer*/
footer {
	width: 100%;
	margin-top: 30px;
	height: 60px;
	display: inline-block;
}

.footer-center {
	display: inline-block;
}

footer h3 {
	padding-top: 14px;
	margin-left: 280px;
}

#news_footer h3 {
	padding-top: 14px;
	margin-left: 230px;
	display: inline-block;
}