/*Nav*/
nav {
	height: 80px;
}

#nav-ad {
	height: 50px;
}

li {
	display: inline-block;
}

.nav {
	display: inline-block;
}

#nav {
	margin: auto;
}

.datetime_published {
	margin-left: 12px;
}

#datetime {
	margin-top: 15;
	padding: 30px;
	text-align: center;
	margin-right: 170px;
}

#date, #time, #datetime {
	color: white;
}

/*Body*/
body {
	background: url('../images/yellow_background.png');
}

h2 {
	width: 100%;
    text-align:center;
}

#iframe-body, #nav-ad {
	border: solid 2px;
}

#iframe-body p {
	text-align: center;
}

#iframe-ferrari {
	font-weight: bold;
	font-size: 16px;
}

#iframe-button {
	padding: 5px;
	margin: auto;
}

#iframe-price {
	font-weight: bold;
	font-size: 22px;
	color: red;
}

.html_news {
	border: 1px solid;
	padding: 15px;
	width: 720px;
	margin: 20px 0px 10px 0px;
	margin-left: -50px;
}

.title {
	font-size: 22px;
	text-align: center;
	padding: 5px;
}

p {
	text-align: justify;
}

.image {
	padding: 10px;
	margin-bottom: 2px;
}

.read_more_button {
	margin-left: 10px;
	border: 2px solid;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
	width: 100px;
}

.read_more_button:hover {
	background-color: grey;
	color: white;
	border-color: black;
}

.read_more_button:focus {
	background-color: darkgrey;
	color: black;
	border-color: black;
}

/*Aside*/
.aside {
	margin-top: 50px;
	position: fixed;
	margin-left: 750px;
}